body {
  background-image: url(http://images.all-free-download.com/images/graphiclarge/dandelion_and_green_nature_background_vector_581794.jpg);
  background-color: #cccccc;
}
h1 {
  color: #41292C;
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
}
